---
import Insight from "./Insight.astro";
const year = new Date().getFullYear();
---

<footer class="bg-black w-full">
  <!-- Bottom -->
  <div class="mt-4 border-t pt-6">
    <div class="text-center sm:flex sm:justify-between sm:text-left">
      <p class="text-sm text-white sm:order-first sm:mt-0">
        &copy; RSRallySprint <strong class="text-red-500">{year}</strong>
      </p>
      <Insight />
    </div>
  </div>
</footer>

<style>
  footer p {
    font-family: "Saira", sans-serif;
  }
</style>
