---
import Insight from "./Insight.astro";
const year = new Date().getFullYear();
---

<footer class="bg-black w-full print:hidden">
  <!-- Bottom -->
  <div class="mt-4 border-t">
    <div class="m-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-white sm:order-first sm:mt-0">
          &copy; RSRallySprint <strong class="text-red-500">{year}</strong>
        </p>
        <!-- Enlace a Bases y Condiciones -->
        <a
          href="/bases-y-condiciones"
          class="text-sm text-white hover:text-red-500"
        >
          Bases y Condiciones
        </a>
        <Insight />
      </div>
    </div>
  </div>
</footer>

<style>
  footer p {
    font-family: "Saira", sans-serif;
  }
  footer a {
    margin-left: 15px;
  }
</style>
