<div class="flex items-center gap-2 font-sans">
  <a href="https://www.insightdevs.com.ar" class="text-blue-500 no-underline">
    <img src="/images/Insight_blanco.webp" alt="Insight Devs" class="h-8" />
  </a>
</div>
